/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Port Lligat Slab', serif;
	background: #fff;
}

a {
	color: #DB394C;
	text-decoration: none;
}

h1 {
	text-align: center;
}

ul li {
	list-style: none;
}

section {
	text-align: center;
}

p {
	padding: 0em;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	position: relative;
	width: 100%;
	background: #fff;
	top: 0;
	z-index: 1000;
}

#logo {
	position: relative;
	width: 33%;
}

#logo h1 {
	position: absolute;
	z-index: 100;
	margin-top: 0;
	font-size: 1em;
	top: 5px;
	left: 0;
}

h1 a {
	font-size: 4.375em;
	color: #64ACBD;
	margin-left: .3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

h1 span {
	display: none;
}

#logo ul {
	position: absolute;
	top: .5em;
	left: .5em;
}

#logo ul li {
	text-transform: uppercase;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px 0 8px 0;
	font-size: 1em;
}

#logo li + li {
	border-top: none;
}

nav ul li {
	padding: 0px 4px;
}

nav ul li a {
	color: #000;
}

nav ul li a:hover {
	color: #abde4B;
}

.content {
	margin: 0 auto;
	width: 70%;
}

#about p span {
	position: relative;
	top: -4px;
	font-size: 56px;
	padding: 5px;
}

figure {
	position: relative;
	display: inline-block;
	height: 230px;
	padding: 0;
	margin: 0px 12px 0px 0px;
	overflow: hidden;
	text-align: center;
}

figcaption.title {
	background: #CAC6C6;
	padding: 5px;
	position: relative;
	top: 0;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

figcaption.more-info {
	position: absolute;
	width: 200px;
	height: 200px;
	background: rgba(255, 255, 255, 0.8);
	top: 0;
	left: -200px;
	color: rgb(65, 63, 63);
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

figcaption.more-info ul li {
	list-style: none;
	padding: 10px 10px 0 0;
	font-weight: bold;
	margin: .5em 0 .5em 0;
}

figcaption.more-info ul li a {
	position: relative;
	top: 30px;
	left: -250px;
	background-color: #A3C423;
	color: #fff;
	font-weight: normal;
	padding: 5px;
	width: 126px;
	
	-webkit-transition: left, top .9s;
	-moz-transition: left, top .9s;
	-o-transition: left, top .9s;
	-ms-transition: left, top .9s;
	transition: left, top .9s;
}

figcaption.more-info ul li:nth-child(2n+2) a {
	-webkit-transition: left .7s;
	-moz-transition: left .7s;
	-o-transition: left .7s;
	-ms-transition: left .7s;
	transition: left .7s;
}

figcaption.more-info ul li a:hover {
	background-color: #64ACBD;	
}

figure:nth-child(2n+2) figcaption.more-info {
	top: -200px;
	left: 0;
}

figure:nth-child(2n+2) figcaption.more-info a {
	top: -250px;
	left: 0;
}

figure:nth-child(3n+2) figcaption.more-info {
	left: 200px;
}

figure:nth-child(3n+2) figcaption.more-info a {
	left: 250px;
}

figure:hover figcaption.more-info {
	left: 0px;
	top: 0px;
}

figure:nth-child(2n+2):hover figcaption.more-info ul li a {
	top: 30px;
}

figure:hover figcaption.more-info ul li a, figure:nth-child(3n+2):hover figcaption.more-info ul li a {
	left: 0px;
}

/**** IE Styles ****/

/*.lt-ie10 div#logo h1 {
	position: relative;
	font-size: 2em;
}

.lt-ie10 div#logo ul {
	top: 2.5em;
	left: 3em;
}

.lt-ie10 div#logo ul li {
	font-size: 1.7em;
}*/


/***** IE Style End *****/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */

	h1 {
		text-align: left;
	}

	#logo h1 {
		position: relative;
		font-size: 2em;
	}

	#logo ul {
		top: 2.5em;
		left: 3em;
	}

	#logo ul li {
		font-size: 1.7em;
	}

	nav ul {
		margin: 9% 0 0 37%;
	}

	nav ul li {
		padding: 12px 0px 0px 0px;
	}

	nav ul li a {
		-webkit-transition: all .25s;
		-moz-transition: all .25s;
		-o-transition: all .25s;
		-ms-transition: all .25s;
		transition: all .25s;
	}

	nav ul li a:before {
		content: '[';

		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
		position: relative;
		left: 30px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
	}

	nav ul li a:after {
		content: ']';
		position: relative;
		left: -30px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;

		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
	}

	nav ul li a:hover::before {
		left: 0px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}

	nav ul li a:hover::after {
		left: 0px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}

	#about p span {
		top: 16px;
	}


}


@media only screen and (min-width: 780px) {
	
	header {
		position: fixed;
	}
	
	nav ul {
		margin: 5% 0 0 37%;
	}
	
	.content {
		margin: 13em auto 0 auto;
	}
	
}


@media only screen and (min-width: 980px) {
	
	h1 b, h1 span {
		letter-spacing: -.64em;

		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
	}

	h1 span {
		display: inline;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		font-size: .83em;
	}

	div#logo:hover b {
		letter-spacing: -.23em;
	}

	div#logo:hover span {
		letter-spacing: 0em;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}

	div#logo:hover ul {
		left: 17em;
	}

	#logo ul {
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
	}


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
